//******************************
//     GENERAL 
//******************************
* {
  margin: 0;
  padding: 0;
  background-color: #191919;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

//******************************
//      SearchBar
//******************************
.wrapper {
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  min-width: 100px;
  background-color: black;
}

.search-icon {
  background-image: url('../images/search.svg');
  height: 20px;
  width: 20px;
  background-color: black;
}

.btn {
  border: none;
  margin:0 7px 0 20px;
  background-color: black;
}

.btn:focus {
  outline: none;

}

#searchBar {
  border: none;
  color: #fff;
  border-radius: 0 20px 20px 0;
  height: 40px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: black;
}

//******************************
//      WELCOME
//******************************
.welcome {
  width: 90%;
  margin: 40px 0;
  color: #fff;
  h1 {
    font-size: 50px;
  }
  p {
    margin-top: 20px;
    font-size: 20px;
  }
}
//******************************
//      Select Styles
//******************************

select {
  background-color: #d20a32;
  padding: 0 1em 0 0;
  margin: 0 auto;
  width: 220px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  font-family: inherit;

  color: #fff;
}

.displayPlatformSelect {
  width: 90%
}
//******************************
//      ARTICLES DISPLAY
//******************************
.page-list .articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}

//******************************
//      Card Style
//******************************

.cardGame {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  margin: 18px 30px 30px 0;
  color: #fff;

  img {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }

  h1 {
    margin-top: 8px;
    padding: 10px;
    font-size: 25px;
  }

  .platLogo {
    display: flex;
    margin-top: 5px;
    padding: 10px;
  }

  .displayInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    width: 400px;
    height: 200px;
    font-size: 32px;
    
    color: #fff;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateY(-50px);
    transition-duration: 1.2s;

    p {
      margin: 15px 0 0 0;
      
    }
  }

  &:hover>.displayInfo {
    opacity: 2;
    transform: translateY(0);
    transition-duration: 1.2s;
  }

  &:hover>img {
    opacity: 0.2;
    transition-duration: 1.2s;
  }
}

//******************************
//      NAVBAR Style
//******************************
.btnMoreContent {
  background-color: #d20a32;
  color: #fff;
  height: 50px;
  width: 150px;
  padding: 10;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 18px;

}

//******************************
//      NAVBAR Style
//******************************

.navbar {
  width: 75%;
  margin: 0 auto;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}


.links {
  a {
    color: #d20a32;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
  }
}

//**************
// Platform logo
//***************

.PlayStation {
  height: 50px;
  width: 50px;
  background-image: url('../images/ps4.svg');
  background-repeat: no-repeat;
}

.Nintendo {
  height: 50px;
  width: 50px;
  background-image: url('../images/switch.svg');
  background-repeat: no-repeat;
}

.PC {
  height: 50px;
  width: 50px;
  background-image: url('../images/windows.svg');
  background-repeat: no-repeat;
}

.Xbox {
  height: 50px;
  width: 50px;
  background-image: url('../images/xbox.svg');
  background-repeat: no-repeat;
}

.Linux {
  height: 50px;
  width: 50px;
  background-image: url('../images/linux.svg');
  background-repeat: no-repeat;
}

.Android {
  height: 50px;
  width: 50px;
  background-image: url('../images/mobile.svg');
  background-repeat: no-repeat;
}
//******************************
// PageDetail Jumbotron
//******************************
.jumbotron {
  height: 750px;
  width: 100%;
  background-position: center;
  background-size: cover;
}


//******************************
// PageDetail content
//******************************
$titleColor: #d20a32;

.content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  #gameResum {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  #gameResum h2 {
    margin: 20px 0; 
    font-size: 30px;
   }
   #gameResum {
     font-size: 20px;
   }
  .firstBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    flex-wrap: wrap;
  }
  .displayTitleVotes {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    h1 {
      font-size: 60px;
    }

    p {
      color: #d20a32;
      font-size: 30px;
    }
  }

  .spanTitle {
    font-weight: bold;
    font-size: 25px;
    margin: 0 0 20px 0;
  }


  .package {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    p {
      width: 25%;
    }
  }

  .morePackage {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    p {
      width: 50%;
    }
  }

  .video {
    width: 100%;

    h1 {
      color: $titleColor;
      margin: 30px 0;
      font-size: 50px;
    }
  }

  .store {
    h1 {
      color: $titleColor;
      font-size: 50px;
      margin-top: 30px;
    }

    p {
      color: #fff;
      text-decoration: underline 2px $titleColor;
      width: 100%;
      height: 20px;
      font-size: 30px;
    }
  }

  .screenShot {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    img {
      margin: 20px 0;
      height: 300px;
      width: 600px;
      object-fit: cover;
    }
  }

  #screenshottitle {
    color: $titleColor;
    font-size: 50px;
    margin-top: 40px;
  }

  #youtubeH {
    color: $titleColor;
    font-size: 50px;
    margin: 100px 0 20PX 0;
  }

  .youtubeImage {
    width: 100%;
    
    display: flex;
    justify-content: space-between;

    img {
      width: 600px;
      height: 400px;
    }

    .title {
      font-size: 25px;
      margin: 30px 0 0 30px;

      p {
        margin: 30px 0;
        color: $titleColor;
      }
    }
  }

  

  .youtubeVideo {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: #fff;

    }

    .youtubeCard {
      width: 410px;

      img {
        width: 410px;
      }
    }
  }

  .similarGame {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #similarH {
    color: $titleColor;
    font-size: 50px;
    margin: 100px 0 20px 0;
  }
}

video {
  width: 100%;
}

//******************************
// FOOTER
//******************************
.foot{

  background:#ccc;
  
  position:absolute;
  
  bottom:0;
  
  width:100%;
  
  padding-top:50px;
  
  height:50px;
  
  }